header.header
  .navbar

    .navbar__logo
      a.logo(href="./") ozozon

    .navbar__nav
      .navbar__nav-wrap
        .navbar__nav-wrap.navbar__nav-wrap_overflow
          nav.nav
            ul.nav__menu
              each item, index in menuHeader
                li.nav__item
                  a.nav__link(href=item.link) #{item.name}
            .nav__phone
              a.phone(href="tel:+74958453444") +7 (495) 845-34-44
            .nav__login
              button.button.button__simple.button__simple_white Войти

    .navbar__button
      .button-nav
        i.ico.button-nav__ico

  .header__content

    .header__call
      .button-call
        i.ico.button-call__ico

    .container.header__container
      .row.row_margin-xsm.header__row
        .header__welcome
          h1.title.title__primary Уборка квартир в Москве и Подмосковье
          p.header__text Идеальный порядок каждую неделю
          p.header__price от 1590 руб

        .header__form
          form.main-form(id="main-form" action="" method="post" name="main-form")

            each item, index in itemsHeaderSelect
              .main-form__group
                .main-form__label #{item.name}
                input(type="hidden" id = item.targetId name = item.targetId)
                +select(item.targetId, item.itemsArray, item.activeItem)

            .main-form__button
              input.button.button__primary(type="submit" value="Оформить заявку")

        p.header__offer
          | Закажите уборку на завтра прямо сейчас и получите СКИДКУ 15%.
          br
          | Промокод: #[span.header__promocode yesterday]
