-
  var menu = [
    {name: 'Про уборки', link: '#!'},
    {name: 'Оформить заказ', link: '#!'},
    {name: 'О нас', link: '#!'},
    {name: 'Отзывы', link: '#!'},
    {name: 'F.A.Q.', link: '#!'},
    {name: 'Акции', link: '#!'}
  ]

header.header
  .navbar

    .navbar__logo
      a.logo(href="./") ozozon

    .navbar__nav
      .navbar__nav-wrap
        .navbar__nav-wrap.navbar__nav-wrap_overflow
          nav.nav
            ul.nav__menu
              each item, index in menu
                li.nav__item
                  a.nav__link(href=item.link) #{item.name}
            .nav__phone
              a.phone(href="tel:+74958453444") +7 (495) 845-34-44
            .nav__login
              button.button.button__simple.button__simple_white Войти

    .navbar__button
      .button-nav
        i.ico.button-nav__ico

  .header__desc
    .header__call
      .button-call
        i.ico.button-call__ico
    .container.header__container
