-
  var menu = [
    {name: 'Про уборки', link: '#!'},
    {name: 'Оформить заказ', link: '#!'},
    {name: 'О нас', link: '#!'},
    {name: 'Отзывы', link: '#!'},
    {name: 'F.A.Q.', link: '#!'},
    {name: 'Акции', link: '#!'}
  ]

header.header
  .navbar

    .navbar__logo
      a.logo(href="./") ozozon

    .navbar__nav
      .navbar__nav-wrap
        .navbar__nav-wrap.navbar__nav-wrap_overflow
          nav.nav
            ul.nav__menu
              each item, index in menu
                li.nav__item
                  a.nav__link(href=item.link) #{item.name}
            .nav__phone
              a.phone(href="tel:+74958453444") +7 (495) 845-34-44
            .nav__login
              button.button.button__simple.button__simple_white Войти

    .navbar__button
      .button-nav
        i.ico.button-nav__ico

  .header__desc
    .header__call
      .button-call
        i.ico.button-call__ico
    .container.header__container
      .row.header__row
        .header__welcome
          h1.title.title__primary Уборка квартир в Москве и Подмосковье
          p.header__text Идеальный порядок каждую неделю
          p.header__price от 1590 руб

          .header__form
            form.main-form(id="main-form" action="" method="post" name="main-form")

              .main-form__group
                label.main-form__label(for="cleaning") Тип уборки
                input(type="hidden" id="cleaning" name="cleaning")

                div.select(data-select)
                  button.select__button(data-select-target="cleaning")
                    span.select__button-text Поддерживающая
                    i.ico.select__button-ico
                  ul.select__list
                    li.select__item Поддерживающая
                    li.select__item Генеральная


                //- select.main-form__select(id="cleaning" name="cleaning")
                //-   option(value="supportive") Поддерживающая
                //-   option(value="general") Генеральная

              //- .main-form__group
              //-   label.main-form__label(for="rooms") Количество комнат
              //-   select.main-form__select(id="rooms" name="rooms")
              //-     option(value="1") 1-комнатная
              //-     option(value="2") 2-комнатная

              .main-form__button
                input(type="submit" value="Оформить заявку")
