-
  var menu = [
    {name: 'Про уборки', link: '#!'},
    {name: 'Оформить заказ', link: '#!'},
    {name: 'О нас', link: '#!'},
    {name: 'Отзывы', link: '#!'},
    {name: 'F.A.Q.', link: '#!'},
    {name: 'Акции', link: '#!'}
  ]

header.header
  .navbar

    .navbar__logo
      a.logo(href="./") ozozon

    .navbar__nav
      nav.nav
        ul.nav__menu
          each item, index in menu
            li.nav__item
              a.nav__link(href=item.link) #{item.name}
        .nav__phone
          a.phone(href="tel:+74958453444") +7 (495) 845-34-44
        .nav__login
          button.button.button__simple.button__simple_white Войти

    .navbar__button
      .button-nav
        i.button-nav__icon
        //- .button-nav__line(data-button-nav-line-up)
        //- .button-nav__line(data-button-nav-line-center)
        //- .button-nav__line(data-button-nav-line-down)
