/*
 * Index page
 */
.about-cleaning
  padding-top: 52px
  height: 1000px

.about-cleaning__container

.about-cleaning__row
    @include flex($j: center, $b: 100%)
    text-align: center

.about-cleaning__text
    font-size: 1.8rem
    font-weight: $fw_light
    line-height: 1.2
    padding-top: 29px

.about-cleaning__slider
    @include flex($ds: flex, $dr: row, $j: center, $b: 100%)
    width: 100%
    padding: 16px 15px 0 15px
