// -- Fonts --
// Size
$base_size: 16
// Weight
$fw_thin: 100
$fw_light: 300
$fw_regular: 400
$fw_medium: 500
$fw_bold: 700
$fw_black: 900

// -- Breakpoints --
// Min
$break_min_sm: 576
$break_min_md: 768
$break_min_lg: 992
$break_min_xl: 1200

// -- Colors --
// Palette
$x-white-clr: #FFFFFF
$x-whiteSmoke-clr: #F8F8F8
$x-black-clr: #000000
$x-nero-clr: #212121
$x-nobel-clr: #999999
$x-turquoiseBlue-clr: #62D5E9
$x-lightGreen-clr: #82EAAD
$x-yellow-clr: #F6FF00
// Components
// Main
$primary_clr: $x-white-clr
$secondary_clr: $x-black-clr
// Backgrounds
$primary_bg_clr: $x-white-clr
$secondary_bg_clr: $x-whiteSmoke-clr
// Headers
$primary_header_clr: $x-black-clr
$secondary_header_clr: $x-white-clr
// Text
$primary_text_clr: $x-black-clr
$secondary_text_clr: $x-nero-clr
$tertiary_text_clr: $x-nobel-clr
// Accents
$primary_accent_clr: $x-turquoiseBlue-clr
$secondary_accent_clr: $x-lightGreen-clr
$tertiary_accent_clr: $x-yellow-clr
