//- Header menu
-
  var menuHeader = [
    {name: 'Про уборки', link: '#!'},
    {name: 'Оформить заказ', link: '#!'},
    {name: 'О нас', link: '#!'},
    {name: 'Отзывы', link: '#!'},
    {name: 'F.A.Q.', link: '#!'},
    {name: 'Акции', link: '#!'}
  ]

//- Header select items
-
  var itemsHeaderSelect = [
      {
        name: 'Тип уборки',
        targetId: 'cleaning',
        itemsArray: ['Поддерживающая', 'Генеральная'],
        activeItem: 0
      },
      {
        name: 'Количество комнат',
        targetId: 'rooms',
        itemsArray: ['Студия', '1-комнатная', '2-комнатная', '3-комнатная', '4-комнатная'],
        activeItem: 1
      }
  ]

//- Slider-cleaning
-
  var sliderCleaning = [
    {
      name: 'В комнате', img: 'img_002',
      map: [
        {type: 'primary', dir: 'left', style: 'top:4.5%;left:50.2%;', text: 'Чистим зеркала <br>и стеклянные <br>поверхности'},
        {type: 'secondary', dir: 'left', style: 'top:5.6%;left:3.2%;', text: 'Мойка радиатора <br>отопления'},
        {type: 'primary', dir: 'right', style: 'top:20.4%;right:6.2%;', text: 'Протираем <br>мебель'},
        {type: 'secondary', dir: 'left', style: 'top:36.5%;left:79.8%;', text: 'Обеспыливание <br>светильников'},
        {type: 'primary', dir: 'right', style: 'top:40%;right:54.5%;', text: 'Вычищаем пыль <br>из углов'},
        {type: 'secondary', dir: 'left', style: 'top:54.5%;left:2.2%;', text: 'Очистка выключателей <br>и дверных ручек'},
        {type: 'primary', dir: 'left', style: 'top:67%;left:17.9%;', text: 'Протираем плинтусы'},
        {type: 'primary', dir: 'left', style: 'top:88%;left:79.5%;', text: 'Убираем мусор'},
        {type: 'primary', dir: 'left', style: 'top:90.5%;left:35.2%;', text: 'Пылесосим ковры'},
        {type: 'primary', dir: 'left', style: 'top:93%;left:64%;', text: 'Моем пол'}
      ]
    },
    {
      name: 'На кухне', img: 'img_003',
      map: [
        {type: 'primary', dir: 'right', style: 'top:17%;right:24.4%;', text: 'Вычищаем пыль <br>из углов'},
        {type: 'primary', dir: 'left', style: 'top:27.4%;left:7.5%;', text: 'Моем плиту, холодильник и <br>другую бытовую технику'},
        {type: 'primary', dir: 'left', style: 'top:28.4%;left:37.1%;', text: 'Протираем шкафчики'},
        {type: 'secondary', dir: 'left', style: 'top:34.8%;left:66.8%;', text: 'Обеспыливание <br>светильников'},
        {type: 'primary', dir: 'left', style: 'top:45%;left:23.5%;', text: 'Моем плитку'},
        {type: 'secondary', dir: 'left', style: 'top:45.9%;left:40.1%;', text: 'Моем посуду'},
        {type: 'primary', dir: 'left', style: 'top:53.2%;left:38.3%;', text: 'Чистим раковину'},
        {type: 'secondary', dir: 'right', style: 'top:57%;right:67.8%;', text: 'Удаляем все виды <br>жировых отложения'},
        {type: 'primary', dir: 'left', style: 'top:59%;left:58.8%;', text: 'Протираем столешницу, <br>обеденный стол'},
        {type: 'primary', dir: 'left', style: 'top:75%;left:29.9%;', text: 'Убираем мусор'},
        {type: 'primary', dir: 'right', style: 'top:83%;right:23.3%;', text: 'Протираем плинтусы'},
        {type: 'primary', dir: 'left', style: 'top:85%;left:1.2%;', text: 'Протираем двери'},
        {type: 'primary', dir: 'left', style: 'top:92.8%;left:64%;', text: 'Моем пол'},
        {type: 'secondary', dir: 'left', style: 'top:93.8%;left:4.4%;', text: 'Очищаем выключатели и дверные ручки'}
      ]
    },
    {
      name: 'В ванной и туалете', img: 'img_004',
      map: [
        {type: 'secondary', dir: 'left', style: 'top:15%;left:58.5%;', text: 'Очищаем кафель в ванной <br>от всех загрязнений'},
        {type: 'primary', dir: 'left', style: 'top:24.2%;left:28.5%;', text: 'Чистим зеркала <br>и стеклянные <br>поверхности'},
        {type: 'secondary', dir: 'left', style: 'top:26.7%;left:76.5%;', text: 'Очищаем кафель в ванной <br>от всех загрязнений'},
        {type: 'primary', dir: 'left', style: 'top:49.8%;left:75.6%;', text: 'Моем и дезинфицируем <br>ванну, раковину, джакузи <br>душевую кабину <br>унитаз'},
        {type: 'secondary', dir: 'left', style: 'top:54.5%;left:2.4%;', text: 'Очистка выключателей <br>и дверных ручек'},
        {type: 'primary', dir: 'left', style: 'top:71.3%;left:50.3%;', text: 'Протираем <br>шкафы'},
        {type: 'primary', dir: 'left', style: 'top:85.5%;left:8.6%;', text: 'Протираем двери'},
        {type: 'primary', dir: 'left', style: 'top:86.7%;left:65.9%;', text: 'Протираем <br>плинтусы'},
        {type: 'primary', dir: 'left', style: 'top:90.6%;left:83.7%;', text: 'Пылесосим ковры <br>и моем пол'},
        {type: 'primary', dir: 'left', style: 'top:93%;left:35.6%;', text: 'Убираем мусор'}
      ]
    },
    {
      name: 'В комнате', img: 'img_005',
      map: [
        {type: 'primary', dir: 'left', style: 'top:27.5%;left:22.5%;', text: 'Чистим зеркала <br>и стеклянные <br>поверхности'},
        {type: 'secondary', dir: 'left', style: 'top:47.5%;left:68.7%;', text: 'Расставляем обувь'},
        {type: 'primary', dir: 'left', style: 'top:56%;left:44.5%;', text: 'Протираем <br>двери'},
        {type: 'secondary', dir: 'right', style: 'top:64%;right:16.4%;', text: 'Очищаем выключатели <br>и дверные ручки'},
        {type: 'primary', dir: 'left', style: 'top:83.9%;left:24.5%;', text: 'Протираем все <br>доступные поверхности'},
        {type: 'primary', dir: 'right', style: 'top:88%;right:29.8%;', text: 'Протираем <br>плинтусы'},
        {type: 'secondary', dir: 'left', style: 'top:91.4%;left:75.9%;', text: 'Моем пол и <br>пылесосим коврики'}
      ]
    }
  ]
