//- Header menu
-
  var menuHeader = [
    {name: 'Про уборки', link: '#!'},
    {name: 'Оформить заказ', link: '#!'},
    {name: 'О нас', link: '#!'},
    {name: 'Отзывы', link: '#!'},
    {name: 'F.A.Q.', link: '#!'},
    {name: 'Акции', link: '#!'}
  ]

//- Header select items
-
  var itemsHeaderSelect = [
      {
        name: 'Тип уборки',
        targetId: 'cleaning',
        itemsArray: ['Поддерживающая', 'Генеральная'],
        activeItem: 0
      },
      {
        name: 'Количество комнат',
        targetId: 'rooms',
        itemsArray: ['Студия', '1-комнатная', '2-комнатная', '3-комнатная', '4-комнатная'],
        activeItem: 1
      }
  ]

//- Slider-cleaning
-
  var sliderCleaning = [
    {
      name: 'В комнате', img: 'img_002',
      map: [
        {type: 'primary', style: 'top:4.5%;left:50.2%;', tpCont: 'Чистим зеркала <br>и стеклянные <br>поверхности', tpPos: 'right'},
        {type: 'secondary', style: 'top:5.6%;left:3.2%;', tpCont: 'Мойка радиатора <br>отопления', tpPos: 'right'},
        {type: 'primary', style: 'top:20.5%;left:92.4%;', tpCont: 'Протираем <br>мебель', tpPos: 'left'},
        {type: 'secondary', style: 'top:36.5%;left:79.8%;', tpCont: 'Обеспыливание <br>светильников', tpPos: 'right'},
        {type: 'primary', style: 'top:40%;left:44.4%;', tpCont: 'Вычищаем пыль <br>из углов', tpPos: 'left'},
        {type: 'secondary', style: 'top:54.5%;left:2.2%;', tpCont: 'Очистка выключателей <br>и дверных ручек', tpPos: 'right'},
        {type: 'primary', style: 'top:67%;left:17.9%;', tpCont: 'Протираем плинтусы', tpPos: 'right'},
        {type: 'primary', style: 'top:88%;left:79.5%;', tpCont: 'Убираем мусор', tpPos: 'right'},
        {type: 'primary', style: 'top:90.5%;left:35.2%;', tpCont: 'Пылесосим ковры', tpPos: 'right'},
        {type: 'primary', style: 'top:93%;left:64%;', tpCont: 'Моем пол', tpPos: 'right'}
      ]
    },
    {
      name: 'На кухне', img: 'img_003',
      map: [
        {type: 'primary', style: 'top:17.2%;left:74.4%;', tpCont: 'Вычищаем пыль <br>из углов', tpPos: 'left'},
        {type: 'primary', style: 'top:27.4%;left:7.5%;', tpCont: 'Моем плиту, холодильник и <br>другую бытовую технику', tpPos: 'right'},
        {type: 'primary', style: 'top:28.4%;left:37.1%;', tpCont: 'Протираем шкафчики', tpPos: 'right'},
        {type: 'secondary', style: 'top:34.8%;left:66.8%;', tpCont: 'Обеспыливание <br>светильников', tpPos: 'right'},
        {type: 'primary', style: 'top:45%;left:23.5%;', tpCont: 'Моем плитку', tpPos: 'right'},
        {type: 'secondary', style: 'top:45.9%;left:40.1%;', tpCont: 'Моем посуду', tpPos: 'right'},
        {type: 'primary', style: 'top:53.2%;left:38.3%;', tpCont: 'Чистим раковину', tpPos: 'right'},
        {type: 'secondary', style: 'top:57%;left:31%;', tpCont: 'Удаляем все виды <br>жировых отложения', tpPos: 'left'},
        {type: 'primary', style: 'top:59%;left:58.8%;', tpCont: 'Протираем столешницу, <br>обеденный стол', tpPos: 'right'},
        {type: 'primary', style: 'top:75%;left:29.9%;', tpCont: 'Убираем мусор', tpPos: 'right'},
        {type: 'primary', style: 'top:83.2%;left:75.4%;;', tpCont: 'Протираем плинтусы', tpPos: 'left'},
        {type: 'primary', style: 'top:85%;left:1.2%;', tpCont: 'Протираем двери', tpPos: 'right'},
        {type: 'primary', style: 'top:92.8%;left:64%;', tpCont: 'Моем пол', tpPos: 'right'},
        {type: 'secondary', style: 'top:93.8%;left:4.4%;', tpCont: 'Очищаем выключатели и дверные ручки', tpPos: 'right'}
      ]
    },
    {
      name: 'В ванной и туалете', img: 'img_004',
      map: [
        {type: 'secondary', style: 'top:15%;left:58.5%;', tpCont: 'Очищаем кафель в ванной <br>от всех загрязнений', tpPos: 'right'},
        {type: 'primary', style: 'top:24.2%;left:28.5%;', tpCont: 'Чистим зеркала <br>и стеклянные <br>поверхности', tpPos: 'right'},
        {type: 'secondary', style: 'top:26.7%;left:76.5%;', tpCont: 'Очищаем кафель в ванной <br>от всех загрязнений', tpPos: 'right'},
        {type: 'primary', style: 'top:49.8%;left:75.6%;', tpCont: 'Моем и дезинфицируем <br>ванну, раковину, джакузи <br>душевую кабину <br>унитаз', tpPos: 'right'},
        {type: 'secondary', style: 'top:54.5%;left:2.4%;', tpCont: 'Очистка выключателей <br>и дверных ручек', tpPos: 'right'},
        {type: 'primary', style: 'top:71.3%;left:50.3%;', tpCont: 'Протираем <br>шкафы', tpPos: 'right'},
        {type: 'primary', style: 'top:85.5%;left:8.6%;', tpCont: 'Протираем двери', tpPos: 'right'},
        {type: 'primary', style: 'top:86.7%;left:65.9%;', tpCont: 'Протираем <br>плинтусы', tpPos: 'right'},
        {type: 'primary', style: 'top:90.6%;left:83.7%;', tpCont: 'Пылесосим ковры <br>и моем пол', tpPos: 'right'},
        {type: 'primary', style: 'top:93%;left:35.6%;', tpCont: 'Убираем мусор', tpPos: 'right'}
      ]
    },
    {
      name: 'В коридоре', img: 'img_005',
      map: [
        {type: 'primary', style: 'top:27.5%;left:22.5%;', tpCont: 'Чистим зеркала <br>и стеклянные <br>поверхности', tpPos: 'right'},
        {type: 'secondary', style: 'top:47.5%;left:68.7%;', tpCont: 'Расставляем обувь', tpPos: 'right'},
        {type: 'primary', style: 'top:56%;left:44.5%;', tpCont: 'Протираем <br>двери', tpPos: 'right'},
        {type: 'secondary', style: 'top:64%;left:82.3%;', tpCont: 'Очищаем выключатели <br>и дверные ручки', tpPos: 'left'},
        {type: 'primary', style: 'top:83.9%;left:24.5%;', tpCont: 'Протираем все <br>доступные поверхности', tpPos: 'right'},
        {type: 'primary', style: 'top:88%;left:68.9%;', tpCont: 'Протираем <br>плинтусы', tpPos: 'left'},
        {type: 'secondary', style: 'top:91.4%;left:75.9%;', tpCont: 'Моем пол и <br>пылесосим коврики', tpPos: 'right'}
      ]
    }
  ]
