extends ../layouts/default-layout.pug
block content
  main.main
    include ../partials/index/about-cleaning.pug
    include ../partials/index/types-cleaning.pug
    include ../partials/index/about-us.pug
    include ../partials/index/questions.pug
    include ../partials/index/reviews.pug
