// Button
.button
  display: block
  font-family: 'Roboto', sans-serif
  font-size: 1.4rem
  font-weight: $fw_regular
  line-height: 1
  white-space: nowrap
  user-select: none
  border: 1px solid transparent
  border-radius: 35px
  cursor: pointer
  max-width: 100%
  transition: all .2s ease-in-out

  &:focus
    outline: 0

  &__simple
    background: none
    padding: 10px 45px

    &_white
      color: $primary_clr
      border: 2px solid $primary_clr

// Button-navbar
.button-nav
  @include flex($ds: flex, $dr: row, $a: center, $j: center)
  position: relative
  width: 38px
  height: 38px
  border-radius: 5px
  background: none
  user-select: none
  cursor: pointer
  transition: background-color .45s ease

  &:focus
    outline: 0

  &:hover
    background-color: rgba($secondary_clr, .1)

  &__ico
    @include sprite($ico_burger)

// Button-call
.button-call
  @include flex($ds: inline-flex, $dr: row, $a: center, $j: center)
  width: 70px
  height: 70px
  border-radius: 50%
  background-color: $primary_accentLight_clr
  border: 1px solid transparent
  transition: all .2s ease-in-out

  &:focus
    outline: 0

  &:hover
    border-color: $primary_accentLight_clr
    box-shadow: 0 0 0 .2em rgba($primary_accentLight_clr, .5)

  &:active
    background-color: rgba($primary_accentLight_clr, .9)
    box-shadow: 0 0 0 .2em rgba($primary_accentLight_clr, .3)

  &__ico
    @include sprite($ico_phone)