// Button
.button
  display: block
  font-family: 'Roboto', sans-serif
  font-size: 1.4rem
  font-weight: $fw_regular
  line-height: 1
  white-space: nowrap
  user-select: none
  border: 1px solid transparent
  border-radius: 35px
  cursor: pointer
  max-width: 100%
  transition: all .2s ease-in-out

  &:focus
    outline: 0

  &__simple
    background: none
    line-height: 2.45
    padding: 0 4.45rem

    &_white
      color: $primary_textLight_clr
      border: 2px solid $primary_bg_clr

      &:hover
        color: $quaternary_text_clr
        background-color: rgba($primary_bg_clr, .9)
        box-shadow: 0 0 0 .2em rgba($primary_bg_clr, .5)

      &:active
        color: $quaternary_text_clr
        background-color: rgba($primary_bg_clr, .9)
        box-shadow: 0 0 0 .2em rgba($primary_bg_clr, .3)

  &__primary
    font-weight: $fw_light
    line-height: 2.8
    padding: 0 3.6rem
    background: linear-gradient( 90deg, rgb(130, 234, 173) 0%, rgb(111, 224, 242) 100%)
    box-shadow: 0.342px 0.94px 4.8px 0.2px rgba(0, 0, 0, 0.2)

    &:hover
      box-shadow: 0 0 0 .2em rgba($secondary_accent_clr, .5)

    &:active
      box-shadow: 0 0 0 .2em rgba($secondary_accent_clr, .3)

  &__secondary
    font-weight: $fw_light
    line-height: 3.1
    color: $primary_text_clr
    background-color: $primary_bg_clr
    padding: 0 6.5rem

    &:hover
      box-shadow: 0 0 0 .2em rgba($primary_bg_clr, .5)

    &:active
      box-shadow: 0 0 0 .2em rgba($primary_bg_clr, .3)

// Button-navbar
.button-nav
  @include flex($ds: flex, $dr: row, $a: center, $j: center)
  position: relative
  width: 38px
  height: 38px
  border-radius: 5px
  background: none
  user-select: none
  cursor: pointer
  transition: background-color .45s ease

  &:focus
    outline: 0

  &:hover
    background-color: rgba($secondary_clr, .1)

  &__ico
    @include sprite($ico_burger)

// Button-call
.button-call
  @include flex($ds: inline-flex, $dr: row, $a: center, $j: center)
  width: 70px
  height: 70px
  border-radius: 50%
  background-color: $primary_accent_clr
  white-space: nowrap
  user-select: none
  cursor: pointer
  border: 1px solid transparent
  transition: all .2s ease-in-out

  &:focus
    outline: 0

  &:hover
    border-color: $primary_accent_clr
    box-shadow: 0 0 0 .2em rgba($primary_accent_clr, .5)

  &:active
    background-color: rgba($primary_accent_clr, .9)
    box-shadow: 0 0 0 .2em rgba($primary_accent_clr, .3)

  &__ico
    @include sprite($ico_phone)
