// Image-maps
.image-map
  position: relative

.image-map__img

.image-map__marker
  position: absolute
  display: block
  width: 13px
  height: 13px
  border: 2px solid $secondary_border_clr
  border-radius: 50%
  box-shadow: 0px 0px 4px 2px $primary_clr
  transition: background-color .25s ease-in, border-color .25s ease-in, box-shadow .25s ease-in

  &:hover,
  &:focus,
  &:active
    cursor: pointer

  &_primary
    background-color: $secondary_accent_clr

    &:hover,
    &:focus,
    &:active,
    &_active
      border-color: $secondary_accent_clr
      box-shadow: 0px 0px 6px 3px $secondary_accent_clr
      background-color: $primary_bg_clr

  &_secondary
    background-color: $tertiary_accent_clr

    &:hover,
    &:focus,
    &:active,
    &_active
      border-color: $tertiary_accent_clr
      box-shadow: 0px 0px 6px 3px $tertiary_accent_clr
      background-color: $primary_bg_clr

  &_disable
    position: relative !important
    cursor: default !important
    border: 2px solid $secondary_border_clr !important
    box-shadow: 0px 0px 4px 2px $primary_clr !important

    &.image-map__marker_primary
      background-color: $secondary_accent_clr !important

    &.image-map__marker_secondary
      background-color: $tertiary_accent_clr !important
