/* slider-cleaning */
.slider-cleaning
  @include flex($ds: flex, $dr: column, $b: 977px)
  overflow: hidden

.slider-cleaning__header
  @include flex($ds: flex, $dr: row, $j: center, $w: wrap)
  font-size: 1.8rem
  font-weight: $fw_light

.slider-cleaning__indicators
  @include flex($ds: flex, $dr: column, $j: center, $a: center, $w: wrap, $b: 100%)
  @include media-min($break_min_sm)
    @include flex($ds: flex, $dr: row, $b: auto)

.slider-cleaning__indicator
  color: $quaternary_text_clr
  text-decoration: none
  border-bottom: 1px dashed $quaternary_text_clr
  white-space: nowrap
  user-select: none
  cursor: pointer
  margin-left: 0
  transition: all .2s ease-in-out
  @include media-min($break_min_sm)
    margin-left: 30px

  &:first-child
    margin-left: 0
    @include media-min($break_min_sm)
      margin-left: 22px

  &:hover,
  &.active
    border-bottom: 1px dashed rgba($quaternary_text_clr, 0)
    color: $primary_accent_clr

  &:focus
    outline: 0

.slider-cleaning__items
  @include flex($ds: flex, $dr: row, $j: flex-start, $w: nowrap)
  padding-top: 34px

.slider-cleaning__slide
  min-width: 100%

  &.show
    animation: showSlide .5s ease-in

@keyframes showSlide
  from
    opacity: .4
  to
    opacity: 1

.slider-cleaning__footer
  @include flex($ds: flex, $dr: row, $j: space-around, $w: wrap)
  padding-top: 16px

.slider-cleaning__footer-item
  @include flex($ds: flex, $dr: row, $a: center, $j: center, $w: nowrap)
  padding-left: 0
  @include media-min($break_min_lg)
    padding-left: 12px

.slider-cleaning__footer-text
  font-family: 'Roboto', sans-serif
  font-size: 1.6rem
  font-weight: $fw_light
  line-height: 1.2
  padding-left: 10px

/* slider-questions */
.slider-questions
  width: 100%

.slider-questions__indicators
  @include flex($ds: flex, $dr: column, $a: center, $j: center)
  padding-top: 25px
  @include media-min($break_min_sm)
    @include flex($ds: flex, $dr: row, $a: stretch, $j: space-between)
    padding-top: 50px

.slider-questions__indicator
  @include flex($ds: flex, $dr: row, $a: center, $j: center, $b: auto)
  font-family: 'Roboto', sans-serif
  font-size: 1.8rem
  font-weight: $fw_regular
  line-height: 1.2
  white-space: nowrap
  user-select: none
  cursor: pointer
  transition: all .2s ease-in-out
  padding: 0
  margin-bottom: 25px
  @include media-min($break_min_sm)
    margin-bottom: 0
    padding: 25px 35px
  @include media-min($break_min_md)
    @include flex($j: center, $b: 200px)
    border-radius: 10px
    box-shadow: 0px 5px 15px 0px rgba($secondary_clr, 0.1)
    background-color: $primary_bg_clr
  @include media-min($break_min_lg)
    @include flex($b: 250px)
  @include media-min($break_min_xl)
    @include flex($j: space-between, $b: 334px)
    padding: 14px 20px 16px 55px

  &:hover,
  &.active
    color: $primary_accent_clr

  @include media-min($break_min_md)
    &:active,
    &.active
      box-shadow: 0px 2px 4px 0px rgba($secondary_clr, 0.2)

  &:focus
    outline: 0

.slider-questions__ico
  display: none
  @include media-min($break_min_xl)
    display: block

  &_1
    @include sprite($ico_faq_1)

  &_2
    @include sprite($ico_faq_2)

  &_3
    @include sprite($ico_faq_3)

.slider-questions__items
  @include flex($ds: flex, $dr: row, $w: nowrap)

.slider-questions__slide
  visibility: hidden
  @include flex($ds: flex, $a: center, $s: 0, $b: 100%)
  background-color: $primary_bg_clr
  box-shadow: 0px 5px 15px 0px rgba($secondary_clr, 0.1)
  border-radius: 10px
  margin-top: 42px
  padding-top: 22px
  padding-bottom: 32px
  transition: transform .2s ease-in-out, opacity .2s ease-in-out
  opacity: 0
  transform: rotateY(45deg) rotateZ(-5deg) translateX(-15px)

  &.show
    visibility: visible
    opacity: 1
    transform:  rotateY(0deg) rotateZ(0deg) translateX(0px)

.slider-questions__faq-wrap
  width: 100%
  padding: 0 15px
  @include media-min($break_min_xl)
    padding: 0 80px 0 116px

.slider-questions__faq
  text-align: center
  list-style-type: decimal
  list-style-position: inside
  @include media-min($break_min_xl)
    text-align: left
    column-width: 400px
    column-count: 2

.slider-questions__faq-q
  font-family: 'Roboto', sans-serif
  font-size: 1.6rem
  font-weight: $fw_light
  line-height: 1.5
  color: $primary_text_clr
  text-decoration: underline
  text-decoration-style: dashed
  text-underline-position: under
  user-select: none
  cursor: pointer
  padding-top: 9px

/* slider-reviews */
.slider-reviews
  position: relative
  display: block
  box-shadow: 0px 5px 15px 0px rgba($secondary_clr, 0.1)
  max-width: 903px
  margin-left: auto
  margin-right: auto

.slider-reviews__items
  @include flex($ds: flex, $dr: row, $j: flex-start, $w: nowrap)
  z-index: 100

.slider-reviews__slide
  visibility: hidden
  background-color: $primary_bg_clr
  border-radius: 10px
  min-width: 100%
  padding: 31px 59px 27px 54px
  opacity: 0
  transform: rotateX(45deg) rotateY(45deg) rotateZ(-5deg) translateX(-15px)
  transition: transform .2s ease-in-out, opacity .2s ease-in-out

  &.show
    visibility: visible
    opacity: 1
    transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px)

.slider-reviews__img

.slider-reviews__control
  position: absolute
  @include flex($ds: flex, $dr: row, $a: center, $j: center)
  text-align: center
  width: 35px
  height: 35px
  border-radius: 50%
  white-space: nowrap
  user-select: none
  cursor: pointer
  background-color: $secondary_bgDark_clr
  border: 1px solid transparent
  transition: all .2s ease-in-out
  z-index: 200
  @include media-min($break_min_sm)
    width: 56px
    height: 56px

  &:focus
    outline: 0

  &:hover
    box-shadow: 0 0 0 .2em rgba($secondary_bgDark_clr, .7)

  &:active
    box-shadow: 0 0 0 .2em rgba($secondary_bgDark_clr, .5)

  &:before
    content: ''
    display: block
    @include sprite($ico_arrow-down)

  &_prev
    top: 42%
    left: 8px
    transform: rotate(90deg)
    @include media-min($break_min_sm)
      top: 42%
      left: -24px

  &_next
    top: 42%
    right: 8px
    transform: rotate(-90deg)
    @include media-min($break_min_sm)
      right: -26px
