// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$ico-arrow-down-name: 'ico_arrow-down'
$ico-arrow-down-x: 82px
$ico-arrow-down-y: 79px
$ico-arrow-down-offset-x: -82px
$ico-arrow-down-offset-y: -79px
$ico-arrow-down-width: 7px
$ico-arrow-down-height: 6px
$ico-arrow-down-total-width: 170px
$ico-arrow-down-total-height: 158px
$ico-arrow-down-image: '../img/sprite.png'
$ico-arrow-down: (82px, 79px, -82px, -79px, 7px, 6px, 170px, 158px, '../img/sprite.png', 'ico_arrow-down', )
$ico-burger-name: 'ico_burger'
$ico-burger-x: 122px
$ico-burger-y: 86px
$ico-burger-offset-x: -122px
$ico-burger-offset-y: -86px
$ico-burger-width: 26px
$ico-burger-height: 21px
$ico-burger-total-width: 170px
$ico-burger-total-height: 158px
$ico-burger-image: '../img/sprite.png'
$ico-burger: (122px, 86px, -122px, -86px, 26px, 21px, 170px, 158px, '../img/sprite.png', 'ico_burger', )
$ico-check-name: 'ico_check'
$ico-check-x: 148px
$ico-check-y: 86px
$ico-check-offset-x: -148px
$ico-check-offset-y: -86px
$ico-check-width: 11px
$ico-check-height: 8px
$ico-check-total-width: 170px
$ico-check-total-height: 158px
$ico-check-image: '../img/sprite.png'
$ico-check: (148px, 86px, -148px, -86px, 11px, 8px, 170px, 158px, '../img/sprite.png', 'ico_check', )
$ico-faq-1-name: 'ico_faq_1'
$ico-faq-1-x: 82px
$ico-faq-1-y: 0px
$ico-faq-1-offset-x: -82px
$ico-faq-1-offset-y: 0px
$ico-faq-1-width: 88px
$ico-faq-1-height: 79px
$ico-faq-1-total-width: 170px
$ico-faq-1-total-height: 158px
$ico-faq-1-image: '../img/sprite.png'
$ico-faq-1: (82px, 0px, -82px, 0px, 88px, 79px, 170px, 158px, '../img/sprite.png', 'ico_faq_1', )
$ico-faq-2-name: 'ico_faq_2'
$ico-faq-2-x: 0px
$ico-faq-2-y: 0px
$ico-faq-2-offset-x: 0px
$ico-faq-2-offset-y: 0px
$ico-faq-2-width: 82px
$ico-faq-2-height: 86px
$ico-faq-2-total-width: 170px
$ico-faq-2-total-height: 158px
$ico-faq-2-image: '../img/sprite.png'
$ico-faq-2: (0px, 0px, 0px, 0px, 82px, 86px, 170px, 158px, '../img/sprite.png', 'ico_faq_2', )
$ico-faq-3-name: 'ico_faq_3'
$ico-faq-3-x: 0px
$ico-faq-3-y: 86px
$ico-faq-3-offset-x: 0px
$ico-faq-3-offset-y: -86px
$ico-faq-3-width: 89px
$ico-faq-3-height: 72px
$ico-faq-3-total-width: 170px
$ico-faq-3-total-height: 158px
$ico-faq-3-image: '../img/sprite.png'
$ico-faq-3: (0px, 86px, 0px, -86px, 89px, 72px, 170px, 158px, '../img/sprite.png', 'ico_faq_3', )
$ico-phone-name: 'ico_phone'
$ico-phone-x: 89px
$ico-phone-y: 86px
$ico-phone-offset-x: -89px
$ico-phone-offset-y: -86px
$ico-phone-width: 33px
$ico-phone-height: 35px
$ico-phone-total-width: 170px
$ico-phone-total-height: 158px
$ico-phone-image: '../img/sprite.png'
$ico-phone: (89px, 86px, -89px, -86px, 33px, 35px, 170px, 158px, '../img/sprite.png', 'ico_phone', )
$spritesheet-width: 170px
$spritesheet-height: 158px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($ico-arrow-down, $ico-burger, $ico-check, $ico-faq-1, $ico-faq-2, $ico-faq-3, $ico-phone, )
$spritesheet: (170px, 158px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
