// Titles
.title
  display: inline-block

  &__primary
    font-family: 'Intro', sans-serif
    font-size: 3rem
    font-weight: $fw_bold
    line-height: 1.042
    color: $primary_textLight_clr
    @include media-min($break_min_md)
      font-size: 3.5rem
    @include media-min($break_min_lg)
      font-size: 4.6rem

  &__secondary
    font-family: 'Roboto', sans-serif
    font-size: 3.6rem
    font-weight: $fw_bold
    line-height: 1.2
    color: $primary_text_clr
